.menuContainer {
  background-color: #1e2530;
  min-height: 100vh;
  width: 240px;
}

.img {
  width: 100%;
  height: auto;
  padding: 16px;
  margin-bottom: 8px;
}

.menuWrapper {
  padding: 0;
  margin-inline: 14px;
  background-color: #494949;
  padding-bottom: 10px;
}

.menu {
  background-color: transparent !important;
  border-inline-end: none !important;

  :global {
    .ant-menu-item,
    .ant-menu-submenu-title {
      height: 48px;
      line-height: 48px;
      margin-block: 4px;
      padding-left: 16px !important;
      border-radius: 8px;
      color: #a0aec0;
      font-size: 14px;

      &:hover {
        background-color: rgba(255, 255, 255, 0.08) !important;
        color: #fff;
      }

      .ant-menu-item-icon,
      .anticon {
        font-size: 16px;
      }
    }

    .ant-menu-item-selected {
      background-color: #3b82f6 !important;
      color: #fff !important;
      &:hover {
        background-color: #3b82f6 !important;
      }
    }
    .ant-menu-submenu-open .ant-menu-submenu-title {
      background-color: rgba(255, 255, 255, 0.08) !important;
    }

    .ant-menu-submenu {
      .ant-menu-submenu-title {
        .ant-menu-submenu-arrow {
          color: #a0aec0;
        }
      }

      &.ant-menu-submenu-open {
        .ant-menu-submenu-title {
          color: #fff;
        }
      }
    }

    .ant-menu-sub {
      margin-left: 30px;
      background-color: transparent !important;
      .ant-menu-item {
        padding-left: 24px !important;
        height: 40px;
        line-height: 40px;
        margin-block: 2px;
        color: #fff !important;
        margin-bottom: 5px;
        background-color: #686868 !important;
      }
    }

    .ant-menu-item-divider {
      background-color: rgba(255, 255, 255, 0.1);
      margin: 12px 16px;
    }
  }
}
