.menuContainer {
  background-color: #1e2530;
  min-height: 100vh;
  width: 240px;
}

.img {
  width: 100%;
  height: auto;
  padding: 16px;
  margin-bottom: 8px;
}

.menuWrapper {
  padding: 0;
  margin-inline: 14px;
  background-color: #494949;
  padding-bottom: 10px;
}

.menu {
  background-color: transparent !important;
  border-inline-end: none !important;
}

.menu :global .ant-menu-item,
.menu :global .ant-menu-submenu-title {
  height: 48px;
  line-height: 48px;
  margin-block: 4px;
  padding-left: 16px !important;
  border-radius: 8px;
  color: #a0aec0;
  font-size: 14px;
}

.menu :global .ant-menu-item:hover,
.menu :global .ant-menu-submenu-title:hover {
  background-color: rgba(255, 255, 255, 0.08) !important;
  color: #fff;
}

.menu :global .ant-menu-item .ant-menu-item-icon,
.menu :global .ant-menu-item .anticon,
.menu :global .ant-menu-submenu-title .ant-menu-item-icon,
.menu :global .ant-menu-submenu-title .anticon {
  font-size: 16px;
}

.menu :global .ant-menu-item-selected {
  background-color: #3b82f6 !important;
  color: #fff !important;
}

.menu :global .ant-menu-item-selected:hover {
  background-color: #3b82f6 !important;
}

.menu :global .ant-menu-submenu-open .ant-menu-submenu-title {
  background-color: rgba(255, 255, 255, 0.08) !important;
}

.menu :global .ant-menu-submenu .ant-menu-submenu-title .ant-menu-submenu-arrow {
  color: #a0aec0;
}

.menu :global .ant-menu-submenu.ant-menu-submenu-open .ant-menu-submenu-title {
  color: #fff;
}

.menu :global .ant-menu-sub {
  margin-left: 30px;
  background-color: transparent !important;
}

.menu :global .ant-menu-sub .ant-menu-item {
  padding-left: 24px !important;
  height: 40px;
  line-height: 40px;
  margin-block: 2px;
  color: #fff !important;
  margin-bottom: 5px;
  background-color: #686868 !important;
}

.menu :global .ant-menu-item-divider {
  background-color: rgba(255, 255, 255, 0.1);
  margin: 12px 16px;
}
